<h1>School Class Form</h1>
<%= form_for @school_class do |s| %>
<%= s.text_field :title, placeholder: "title" %>
<%= s.number_field :room_number, placeholder: "room number" %>
<%= s.submit "Update School class" %>
<% end %>
